html, body {
	height:100%;
    background:center no-repeat fixed url('http://images5.fanpop.com/image/photos/31400000/tyler-the-creator-tyler-the-creator-31422531-866-483.jpg');
    background-size: cover;
    color:#444;
    font-family: 'Lato', sans-serif;
}

@media (min-width:768px) {
    h1 {
        font-size:68px;
    }
}

a {
    color:#999;
}

a:hover {
    color:#808080;
}

.btn,.well,.panel {
    border-radius:0;
}

.btn-danger {
    background-color:#F2F36E;
}

.text-danger, a.text-danger {
    color:#f44d3c;
}

.btn-huge {
    padding:17px 22px;
    font-size:22px;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.bitter {
    font-family: 'Bitter', serif;
}

.icon-bar {
	background-color:#fff;
}


.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-left: -15px;
  display: block;
  padding: 7px;
  text-align: center;
  z-index:-1
}

.scroll-up {
  position: fixed;
  display: none;
  z-index: 999;
  bottom: 2em;
  right: 2em;
}

.scroll-up a {
  background-color: rgba(135, 135, 135, 0.5);
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 30px;
}

section {
	padding-top:70px;
    padding-bottom:50px;
    min-height:100%;
    min-height:calc(100% - 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

@media (min-width:768px) {
    .v-center {
        height: 50%;
        overflow: visible;
        margin: auto;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
    }
}

#section1, #section3 {
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	font-family: 'Bitter', serif;
}

#section4 {
	background-color: #f6f6f6;
	color:#444;
}

#section2 {
	background-color: #F3843C;
}
#section2-3{
	background-color: #65CF30;
}

#section3 {
	background-color: rgba(0,0,0,0.9);
}

#section5 {
	background-color: #fff;
}

#section6 {
    background-color: #eee;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

#section7 {
	background-color:#2ECCFA;
	color: #f6f6f6;
	min-height:130px;
	padding-top:40px;
	padding-bottom:40px;
}

footer {
	background-color:#2b2b2b;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

footer .nav>li>a {
    padding: 3px;
    color: #34b7aa;
}

footer .nav>li>a:hover {
    background-color:transparent;
	color:#fff;
}


.panel-body {
background:# ;
}

.panel > .panel-heading {
    background-image: none;
    background-color:#F2F36E;
    color:#2ECCFA;

}

h1.font{
font-family: 'Staatliches', cursive;
}

h2.display-4{
	text-transform: uppercase;
	 font-weight: 800 !important;
	 font-size: 6rem;
}


h3.font {
font-family: 'Staatliches', cursive;

}
h5.font{
	font-family: 'Staatliches', cursive;
	}


.imgsize{
	width:130px;
	height:157px;
	border-radius: 50%;
}

.img2{
	width:555px;
	height:450px;
}

.img-fluid{
	width:500px;
	height:520px;
	border-radius:50%;
}
.img-fluid2{
	width:300px;
	height:320px;
}

.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}

nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
}

nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}

nav.black ul {
      background: #000;
}

nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}

nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}

.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}

@media(max-width: 786px) {

      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }

      nav ul {
            max-height: 0px;
            background: #000;
      }

      nav.black ul {
            background: #000;
      }

      .showing {
            max-height: 34em;
      }

      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }

      .menu-icon {
            display: block;
      }

}

.text-center {
	text-align: center;
}




.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 550px;
  margin:;
}

.portfolio-item .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    margin-left:;
    margin-right:;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

.content-section-heading h2 {
  font-size: 7rem;
}

.content-section-heading h3 {
  font-size: 3rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
